<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
  data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Smart World</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon"
    href="https://cdn.iconscout.com/icon/premium/png-128-thumb/smart-world-4702054-3899711.png" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />
  <!-- Add Product -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/assets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

  <!-- Helpers -->
  <script src="/assets/vendor/js/helpers.js"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="/assets/js/config.js"></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <aside id="layout-menu" class="layout-menu menu-vertical menu bg-label-primary">
        <div class="app-brand demo">
          <a href="/admin/admin-dashboard" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Smart World</span>
          </a>
        </div>

        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
          <!-- Dashboard -->
          <% if (dashboard) { %>
            <li class="menu-item">
              <a href="/admin/admin-dashboard" class="menu-link btn btn-primary">
                <iconify-icon icon="mingcute:home-5-line" class="menu-icon tf-icons"></iconify-icon>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>
            <% } else { %>
              <li class="menu-item">
                <a href="/admin/admin-dashboard" class="menu-link btn ">
                  <iconify-icon icon="mingcute:home-5-line" class="menu-icon tf-icons"></iconify-icon>
                  <div data-i18n="Analytics">Dashboard</div>
                </a>
              </li>
              <% } %>
                <!-- PRODUCTS -->
                <% if (product) { %>
                  <li class="menu-item">
                    <a href="/admin/admin-products" class="menu-link btn btn-primary">
                      <iconify-icon icon="material-symbols:shopping-bag-outline"
                        class="menu-icon tf-icons"></iconify-icon>
                      <div data-i18n="Tables">Products</div>
                    </a>
                  </li>
                  <% } else { %>
                    <li class="menu-item">
                      <a href="/admin/admin-products" class="menu-link">
                        <iconify-icon icon="material-symbols:shopping-bag-outline"
                          class="menu-icon tf-icons"></iconify-icon>
                        <div data-i18n="Tables">Products</div>
                      </a>
                    </li>
                    <% } %>
                      <% if (user) { %>
                        <li class="menu-item">
                          <a href="/admin/admin-users" class="menu-link btn btn-primary">
                            <iconify-icon icon="mdi:users-group-outline" class="menu-icon tf-icons"></iconify-icon>
                            <div data-i18n="Analytics">Users</div>
                          </a>
                        </li>
                        <% } else { %>
                          <li class="menu-item">
                            <a href="/admin/admin-users" class="menu-link">
                              <iconify-icon icon="mdi:users-group-outline" class="menu-icon tf-icons"></iconify-icon>
                              <div data-i18n="Analytics">Users</div>
                            </a>
                          </li>
                          <% } %>
                          <% if (category) { %>
                            <li class="menu-item">
                              <a href="/admin/admin-category" class="menu-link btn btn-primary">
                                <iconify-icon icon="material-symbols:category-outline"
                                  class="menu-icon tf-icons"></iconify-icon>
                                <div data-i18n="Analytics">Category</div>
                              </a>
                            </li>
                            <% } else { %>
                              <li class="menu-item">
                                <a href="/admin/admin-category" class="menu-link">
                                  <iconify-icon icon="material-symbols:category-outline"
                                    class="menu-icon tf-icons"></iconify-icon>
                                  <div data-i18n="Analytics">Category</div>
                                </a>
                              </li>
                              <% } %>
                              <% if (subCategory) { %>
                            <li class="menu-item">
                              <a href="/admin/admin-subcategory" class="menu-link btn btn-primary">
                                <iconify-icon icon="tabler:category" class="menu-icon tf-icons"></iconify-icon>
                                <div data-i18n="Analytics">Sub Category</div>
                              </a>
                            </li>
                            <% } else { %>
                              <li class="menu-item">
                                <a href="/admin/admin-subcategory" class="menu-link">
                                  <iconify-icon icon="tabler:category" class="menu-icon tf-icons"></iconify-icon>
                                  <div data-i18n="Analytics">Sub Category</div>
                                </a>
                              </li>
                              <% } %>
                              <% if (banner) { %>
                            <li class="menu-item">
                              <a href="/admin/admin-banner" class="menu-link btn btn-primary">
                                <iconify-icon icon="material-symbols:image-outline-sharp"
                                  class="menu-icon tf-icons"></iconify-icon>
                                <div data-i18n="Analytics">Banner</div>
                              </a>
                            </li>
                            <% } else { %>
                              <li class="menu-item">
                                <a href="/admin/admin-banner" class="menu-link">
                                  <iconify-icon icon="material-symbols:image-outline-sharp"
                                    class="menu-icon tf-icons"></iconify-icon>
                                  <div data-i18n="Analytics">Banner</div>
                                </a>
                              </li>
                              <% } %>
                              <% if (news) { %>
                            <li class="menu-item">
                              <a href="/admin/latest-news" class="menu-link btn btn-primary">
                                <iconify-icon icon="material-symbols:menu-book-outline"
                                  class="menu-icon tf-icons"></iconify-icon>
                                <div data-i18n="Analytics">News</div>
                              </a>
                            </li>
                            <% } else { %>
                              <li class="menu-item">
                                <a href="/admin/latest-news" class="menu-link">
                                  <iconify-icon icon="material-symbols:menu-book-outline"
                                    class="menu-icon tf-icons"></iconify-icon>
                                  <div data-i18n="Analytics">News</div>
                                </a>
                              </li>
                            <% } %>
                            <% if (orders) { %>
                            <li class="menu-item">
                              <a href="/admin/admin-orders" class="menu-link btn btn-primary">
                                <iconify-icon icon="material-symbols:order-approve-outline"
                                  class="menu-icon tf-icons"></iconify-icon>
                                <div data-i18n="Analytics">Orders</div>
                              </a>
                            </li>
                            <% } else { %>
                              <li class="menu-item">
                                <a href="/admin/admin-orders" class="menu-link">
                                  <iconify-icon icon="material-symbols:order-approve-outline"
                                    class="menu-icon tf-icons"></iconify-icon>
                                  <div data-i18n="Analytics">Orders</div>
                                </a>
                              </li>
                              <% } %>
                              <% if (coupon) { %>
                            <li class="menu-item">
                              <a href="/admin/admin-coupon" class="menu-link btn btn-primary">
                                <iconify-icon icon="mdi:coupon-outline" class="menu-icon tf-icons"></iconify-icon>
                                <div data-i18n="Analytics">Coupon</div>
                              </a>
                            </li>
                            <% } else { %>
                              <li class="menu-item">
                                <a href="/admin/admin-coupon" class="menu-link">
                                  <iconify-icon icon="mdi:coupon-outline" class="menu-icon tf-icons"></iconify-icon>
                                  <div data-i18n="Analytics">Coupon</div>
                                </a>
                              </li>
                              <% } %>
                              <% if (sales) { %>
                              <li class="menu-item">
                                <a href="/admin/admin-sales" class="menu-link btn btn-primary">
                                  <iconify-icon icon="icon-park-outline:sales-report" class="menu-icon tf-icons"></iconify-icon>
                                  <div data-i18n="Analytics">Sales Report</div>
                                </a>
                              </li>
                              <% } else { %>
                                <li class="menu-item">
                                  <a href="/admin/admin-sales" class="menu-link">
                                    <iconify-icon icon="icon-park-outline:sales-report" class="menu-icon tf-icons"></iconify-icon>
                                    <div data-i18n="Analytics">Sales Report</div>
                                  </a>
                                </li>
                                <% } %>
                                <li class="menu-item">
                                  <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons bx bx-dock-top"></i>
                                    <div data-i18n="Account Settings">Account Settings</div>
                                  </a>
                                  <ul class="menu-sub">
                                    <li class="menu-item mt-2">
                                        <a href="/admin/logout" class="btn btn-outline-primary ms-4" style="width: 200px;">Logout</a>
                                    </li>
                                  </ul>
                                </li>


        </ul>
      </aside>
      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->

        <nav
          class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
          id="layout-navbar">
          <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
              <i class="bx bx-menu bx-sm"></i>
            </a>
          </div>

          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
              <div class="nav-item d-flex align-items-center">
              </div>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-auto">
              <!-- Place this tag where you want the button to render. -->

              <!-- User -->
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                  <div class="avatar avatar-online">
                    <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="/admin/logout">
                      <i class="bx bx-power-off me-2"></i>
                      <span class="align-middle">Log Out</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!--/ User -->
            </ul>
          </div>
        </nav>
</body>
<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<!-- Page JS -->
<script src="/assets/js/dashboards-analytics.js"></script>

<!-- icons -->
<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>