<!doctype html>
<html lang="en">
<%- include('../partials/user-header')%>

	<body>
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 col-lg-10">
						<div class="wrap d-md-flex">
							<div class="img" style="background-image: url(images/iphone-14-pro-.png)">
							</div>
							<div class="login-wrap p-4 p-md-5">
								<div class="d-flex">
									<div class="w-100">
										<h3 class="mb-4 text-center">OTP</h3>
									</div>
								</div>
								<form action="/otp" class="signin-form" method="post">
									<div class="form-group mb-3">
										<% if (otpErr) { %>
											<p class="text-danger text-center">Invalid Otp, Please Enter the correct otp
											</p>
											<% } %>

												<input type="number" class="form-control text-center" name="otp"
													placeholder="Type Your Otp" required>
									</div>
									<div class="form-group">
										<button type="submit" class="form-control btn btn-info px-3">Submit</button>
									</div>
								</form>
								<form action="/resend" method="post">
									<button type="submit" class="btn btn-light btn-block"><span id="countdowntimer">30
										</span></button>
								</form>

								<script>
									let timeleft = 30;
									let downloadTimer = setInterval(function () {
										timeleft--;
										document.getElementById("countdowntimer").textContent = timeleft;
										if (timeleft <= 0) {
											clearInterval(downloadTimer);
											document.getElementById("countdowntimer").innerHTML = '<input type="submit"  class="btn btn-light btn-block" value="Resend">'
										}
									}, 1000);
								</script>
								<div class="form-group">
									<button type="text" class="form-control px-3 border-white">
										<a href="/login">Cancel</a>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%- include('../partials/user-footer')%>
	</body>

</html>